press/*
manuscript/figures*
manuscript/main_sub*
manuscript/response*
._sync_*
README.html
*~
pr/*
*.~lock.*
*.ipynb_check*
*.aux
*.bbl
*.blg
*.log
*.synctex*
*.lof
*.nav
*.out
*.snm
*.toc
*.pyc
tables/*.pickle
tables/docs.csv
tables/doctopics.csv
network/*
*#*
